*.db
*.mo
*.swp
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
beaker-data
develop-eggs
docs/build
downloads
eggs
fake-eggs
include
lib
local
parts
src
dist
var
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
.tox
*.pyc
*.pyo
*.tmp*
.DS_Store
.coverage

